.outer {
  width: 412px;
  height: 412px;
  margin: 20px auto;
  position: relative;
  background: rgb(228, 210, 210);
}
.inner {
  background: blue;
  border-radius: 50%;
  position: absolute;
  top: 32%;
  left: 40%;
  height: 100px;
  width: 100px;
}
.inputEl {
  margin: 5em;
  width: 150px;
  padding: .5em;
  outline: none;
  border: 1px solid #eee;
}