:root {
    --main-front-color:#0d0e3a;
    --main-back-color:#d1e3ee;
}
body {
    background-color: rgb(32, 32, 32);
}
.outer {
  width: 422px;
  height: 412px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  background: var(--main-back-color);
}
.inner {
  background: var(--main-front-color);
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 33%;
  height: 158px;
  width: 158px;
}
.trunk {
    background: var(--main-front-color);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: auto;
    margin-top: 55%;
    height: 85%;
    width: 99%;
}